@use '@/styles/variables.scss' as *;

.card {
  width: 100%;
  background: $color-bg-card;
  border-radius: $radius-lg;
  box-shadow: $shadow-card;
  padding: $spacing-lg;
  box-sizing: border-box;
}
